xsd/elliman-listing.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Lat" type="xs:decimal"/>
	<xs:element name="Zip" type="xs:string"/>
	<xs:element name="Cats" type="xs:string"/>
	<xs:element name="City" type="xs:string"/>
	<xs:element name="Date" type="xs:string"/>
	<xs:element name="Dock" type="xs:string"/>
	<xs:element name="Long" type="xs:decimal"/>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Pool" type="xs:string"/>
	<xs:element name="Agent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FirstName"/>
				<xs:element ref="LastName"/>
				<xs:element ref="EmailAddress"/>
				<xs:element ref="PictureUrl"/>
				<xs:element ref="OfficeLineNumber"/>
				<xs:element ref="MobileLineNumber"/>
				<xs:element ref="FaxLineNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cable" type="xs:string"/>
	<xs:element name="MlsId" type="xs:string"/>
	<xs:element name="Patio" type="xs:string"/>
	<xs:element name="Price" type="xs:int"/>
	<xs:element name="Rooms">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="State" type="xs:string"/>
	<xs:element name="County" type="xs:string"/>
	<xs:element name="Garden" type="xs:string"/>
	<xs:element name="NoPets" type="xs:string"/>
	<xs:element name="Office">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BrokerageName"/>
				<xs:element ref="BrokeragePhone"/>
				<xs:element ref="BrokerageEmail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="Doorman" type="xs:string"/>
	<xs:element name="EndTime" type="xs:string"/>
	<xs:element name="Listing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Location"/>
				<xs:element ref="ListingDetails"/>
				<xs:element ref="RentalDetails" minOccurs="0"/>
				<xs:element ref="BasicDetails"/>
				<xs:element ref="Pictures"/>
				<xs:element ref="Agent"/>
				<xs:element ref="Office"/>
				<xs:element ref="OpenHouses"/>
				<xs:element ref="Neighborhood"/>
				<xs:element ref="RichDetails"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LotSize" type="xs:decimal"/>
	<xs:element name="Picture">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PictureUrl"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Storage" type="xs:string"/>
	<xs:element name="Bedrooms" type="xs:decimal"/>
	<xs:element name="Elevator" type="xs:string"/>
	<xs:element name="LastName" type="xs:string"/>
	<xs:element name="Listings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Listing" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Location">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StreetAddress"/>
				<xs:element ref="UnitNumber"/>
				<xs:element ref="City"/>
				<xs:element ref="State"/>
				<xs:element ref="Zip"/>
				<xs:element ref="ParcelID"/>
				<xs:element ref="Lat"/>
				<xs:element ref="Long"/>
				<xs:element ref="County"/>
				<xs:element ref="StreetIntersection"/>
				<xs:element ref="DisplayAddress"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParcelID" type="xs:string"/>
	<xs:element name="Pictures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Picture" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewType" type="xs:string"/>
	<xs:element name="Appliance" type="xs:string"/>
	<xs:element name="Bathrooms" type="xs:decimal"/>
	<xs:element name="Fireplace" type="xs:string"/>
	<xs:element name="FirstName" type="xs:string"/>
	<xs:element name="Furnished" type="xs:string"/>
	<xs:element name="LargeDogs" type="xs:string"/>
	<xs:element name="LeaseTerm" type="xs:string"/>
	<xs:element name="NumFloors" type="xs:byte"/>
	<xs:element name="OpenHouse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date"/>
				<xs:element ref="StartTime"/>
				<xs:element ref="EndTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RoomCount" type="xs:byte"/>
	<xs:element name="SmallDogs" type="xs:string"/>
	<xs:element name="StartTime" type="xs:string"/>
	<xs:element name="ViewTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ViewType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="YearBuilt" type="xs:string"/>
	<xs:element name="Appliances">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Appliance" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CableReady" type="xs:string"/>
	<xs:element name="CableSatTV" type="xs:string"/>
	<xs:element name="DateListed" type="xs:date"/>
	<xs:element name="Greenhouse">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListingUrl" type="xs:anyURI"/>
	<xs:element name="LivingArea" type="xs:int"/>
	<xs:element name="OpenHouses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OpenHouse" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PictureUrl" type="xs:string"/>
	<xs:element name="UnitNumber" type="xs:string"/>
	<xs:element name="Waterfront" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="ParkingType" type="xs:string"/>
	<xs:element name="PetsAllowed">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="SmallDogs"/>
				<xs:element ref="LargeDogs"/>
				<xs:element ref="NoPets"/>
				<xs:element ref="Cats"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="RichDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddtionalFeatures"/>
				<xs:element ref="Appliances"/>
				<xs:element ref="ArchitectureStyle"/>
				<xs:element ref="BuildingUnitCount"/>
				<xs:element ref="CableReady"/>
				<xs:element ref="CoolingSystem"/>
				<xs:element ref="Dock"/>
				<xs:element ref="Doorman"/>
				<xs:element ref="Elevator"/>
				<xs:element ref="ExteriorTypes"/>
				<xs:element ref="Fireplace"/>
				<xs:element ref="Garden"/>
				<xs:element ref="Greenhouse"/>
				<xs:element ref="HeatingFuels"/>
				<xs:element ref="NewConstruction" minOccurs="0"/>
				<xs:element ref="NumFloors"/>
				<xs:element ref="NumParkingSpaces"/>
				<xs:element ref="ParkingTypes"/>
				<xs:element ref="Patio"/>
				<xs:element ref="Pool"/>
				<xs:element ref="RoomCount"/>
				<xs:element ref="Rooms"/>
				<xs:element ref="SecuritySystem"/>
				<xs:element ref="Storage"/>
				<xs:element ref="PropertyName"/>
				<xs:element ref="Furnished"/>
				<xs:element ref="HighSpeedInternet"/>
				<xs:element ref="OnsiteLaundry"/>
				<xs:element ref="CableSatTV"/>
				<xs:element ref="ViewTypes"/>
				<xs:element ref="Waterfront"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Availability" type="xs:date"/>
	<xs:element name="BasicDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PropertyType"/>
				<xs:element ref="Description"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="Bedrooms"/>
					<xs:element ref="Bathrooms"/>
					<xs:element ref="FullBathrooms"/>
					<xs:element ref="HalfBathrooms"/>
				</xs:sequence>
				<xs:element ref="LivingArea"/>
				<xs:element ref="LotSize"/>
				<xs:element ref="YearBuilt"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmailAddress" type="xs:string"/>
	<xs:element name="HeatingFuels">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListingEmail" type="xs:string"/>
	<xs:element name="Neighborhood">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParkingTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ParkingType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PropertyName" type="xs:string"/>
	<xs:element name="PropertyType" type="xs:string"/>
	<xs:element name="BrokerageName" type="xs:string"/>
	<xs:element name="CoolingSystem" type="xs:string"/>
	<xs:element name="ExteriorTypes">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="FaxLineNumber" type="xs:string"/>
	<xs:element name="FullBathrooms" type="xs:byte"/>
	<xs:element name="HalfBathrooms" type="xs:byte"/>
	<xs:element name="OnsiteLaundry" type="xs:string"/>
	<xs:element name="RentalDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Availability"/>
				<xs:element ref="LeaseTerm"/>
				<xs:element ref="UtilitiesIncluded"/>
				<xs:element ref="PetsAllowed"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StreetAddress" type="xs:string"/>
	<xs:element name="BrokerageEmail" type="xs:string"/>
	<xs:element name="BrokeragePhone" type="xs:string"/>
	<xs:element name="DisplayAddress" type="xs:string"/>
	<xs:element name="ListingDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Status"/>
				<xs:element ref="Price"/>
				<xs:element ref="ListingUrl"/>
				<xs:element ref="MlsId"/>
				<xs:element ref="ProviderListingId"/>
				<xs:element ref="DateListed"/>
				<xs:element ref="VirtualTourUrl"/>
				<xs:element ref="ListingEmail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SecuritySystem">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="VirtualTourUrl" type="xs:string"/>
	<xs:element name="NewConstruction" type="xs:string"/>
	<xs:element name="MobileLineNumber" type="xs:string"/>
	<xs:element name="NumParkingSpaces" type="xs:byte"/>
	<xs:element name="OfficeLineNumber" type="xs:string"/>
	<xs:element name="AddtionalFeatures">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="ArchitectureStyle" type="xs:string"/>
	<xs:element name="BuildingUnitCount" type="xs:short"/>
	<xs:element name="HighSpeedInternet">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProviderListingId" type="xs:string"/>
	<xs:element name="UtilitiesIncluded">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Cable" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StreetIntersection" type="xs:string"/>
</xs:schema>
